# This workflow will do a clean install of node dependencies and run tests (lint + coverage).
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    environment: ci
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    # For auto merging
    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run ci
      - uses: fastify/github-action-merge-dependabot@v3
